<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Bitacora Bancoppel</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item inactive">
                <a class="nav-link" href="/bitacora/retrieve">Consulta</a>
            </li>
            </ul>
        </div>
    </div>
</nav>